
/*@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1467877616'); !* IE9*!
  src: url('iconfont.eot?t=1467877616#iefix') format('embedded-opentype'), !* IE6-IE8 *!
  url('iconfont.woff?t=1467877616') format('woff'), !* chrome, firefox *!
  url('iconfont.ttf?t=1467877616') format('truetype'), !* chrome, firefox, opera, Safari, Android, iOS 4.2+*!
  url('iconfont.svg?t=1467877616#iconfont') format('svg'); !* iOS 4.1- *!
}*/

.kaifont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before { content: "\e608"; }
.icon-close:before { content: "\e621"; }
.icon-warnfill:before { content: "\e60e"; }
.icon-refresh:before { content: "\e61b"; }
.icon-moreandroid:before { content: "\e617"; }
.icon-deletefill:before { content: "\e619"; }
.icon-sina:before { content: "\e601"; }
.icon-huaban:before { content: "\e603"; }
.icon-wechat:before { content: "\e600"; }
.icon-cameraadd:before { content: "\e623"; }
.icon-picfill:before { content: "\e61c"; }
.icon-repeal:before { content: "\e61d"; }
.icon-search:before { content: "\e602"; }
.icon-nv:before { content: "\e624"; }
.icon-nan:before { content: "\e625"; }
.icon-qqzone:before { content: "\e609"; }
.icon-facebook:before { content: "\e60b"; }
.icon-favour2:before { content: "\e60a"; }
.icon-write:before { content: "\e622"; }
.icon-xiaoxi:before { content: "\e605"; }
.icon-douban:before { content: "\e606"; }
.icon-timefill:before { content: "\e616"; }
.icon-linkedin:before { content: "\e611"; }
.icon-pinterest:before { content: "\e604"; }
.icon-circleempty:before { content: "\e61e"; }
.icon-copyright:before { content: "\e61a"; }
.icon-xiasanjiao:before { content: "\e61f"; }
.icon-tanhao:before { content: "\e626"; }
.icon-trumpet:before { content: "\e610"; }
.icon-qq:before { content: "\e607"; }
.icon-eye:before { content: "\e612"; }
.icon-previous:before { content: "\e60f"; }
.icon-email:before { content: "\e613"; }
.icon-next:before { content: "\e614"; }
.icon-top:before { content: "\e60d"; }
.icon-apps:before { content: "\e615"; }
.icon-zan:before { content: "\e618"; }
.icon-upload:before { content: "\e60c"; }
.icon-favour:before { content: "\e620"; }
.icon-website:before { content: "\e65f"; }

