<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>苏涛要戒烟</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body>

    <!-- home
    ================================================== -->
    <main class="s-home s-home--particles">

        <div id="particles-js" class="home-particles"></div>
        
        <div class="gradient-overlay"></div>

        <div class="home-content">

            <div class="home-logo">
                <a href="#0">
                    login
                    <!--<img src="images/logo.svg" alt="Homepage">-->
                </a>
            </div>

            <div class="row home-content__main">
                <div class="col-four home-content__counter">
                    <h3>你已戒烟</h3>

                    <div class="home-content__clock">
                        <div class="top">
                            <div class="time days">
                                32
                                <span>Days</span>
                            </div>
                        </div>
                        <div class="time hours">
                            09
                            <span>H</span>
                        </div>
                        <div class="time minutes">
                            54
                            <span>M</span>
                        </div>
                        <div class="time seconds">
                            30
                            <span>S</span>
                        </div>
                    </div>  <!-- end home-content__clock -->
                </div>  <!-- end home-content__counter -->

                <div class="col-eight home-content__text pull-right">
                    <h3>看看兜里还有烟吗</h3>

                    <h1>
                        您每天吸多少支卷烟？</h1>
                    <h1>早晨醒来多久吸第一口？</h1>
                        活着不好吗


                    <p>
                        Tobacco can damage almost all organs in the body, and quitting smoking can effectively prevent or delay the progress of smoking-related diseases.
                        The study found that the risk of death from coronary heart disease was roughly halved one year after quitting, and continued to decrease as the length of quitting increased.
                        Quitting smoking and preventing secondhand smoke exposure are the most important means to prevent COPD. Quitting smoking is the only method that has been proved to be effective in preventing the progressive decline of lung function.
                        Quitting smoking can also reduce the incidence and mortality of stroke, peripheral vascular diseases, pneumonia, and gastric and duodenal ulcers.
                        Therefore, smoking cessation is an important part of the treatment of various smoking-related diseases.
                        Quitting smoking also reduces the risk of exposure to secondhand smoke around people, especially family and co-workers.
                    </p>

                    <div class="home-content__subscribe">
                        <form id="mc-form" class="group" novalidate="true">
                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="" required="">
                            <input type="submit" name="subscribe" value="别点 因为没用">
                            <label for="mc-email" class="subscribe-message"></label>
                        </form>
                    </div>
                </div>  <!-- end home-content__text -->

            </div>  <!-- end home-content__main -->

            <ul class="home-social">
                <li>
                <a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
                </li>
                <li>
                <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
                </li>
                <li>
                <a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                </li>
                <li>
                <a href="#0"><i class="fab fa-behance" aria-hidden="true"></i><span>Behance</span></a>
                </li>
                <li>
                <a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i><span>Dribbble</span></a>
                </li>
            </ul> <!-- end home-social -->

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->

    </main> <!-- end s-home -->


    <!-- info
    ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">

        <div class="row info-wrapper">

            <div class="col-seven tab-full info-main">
                <h1>Smoking. Early uses.</h1>
                <p>
                    The history of smoking dates back to as early as 5000 BCE in shamanistic rituals.[3] Many ancient civilizations, such as the Babylonians, Indians and Chinese, burnt incense as a part of religious rituals, as did the Israelites and the later Catholic and Orthodox Christian churches. Smoking in the Americas probably had its origins in the incense-burning ceremonies of shamans but was later adopted for pleasure, or as a social tool.[4] The smoking of tobacco, as well as various hallucinogenic drugs, was used to achieve trances and to come into contact with the spirit world.
                </p>

                <p>
                    Substances such as cannabis, clarified butter (ghee), fish offal, dried snake skins and various pastes molded around incense sticks dates back at least 2000 years. Fumigation (dhupa) and fire offerings (homa) are prescribed in the Ayurveda for medical purposes, and have been practiced for at least 3,000 years while smoking, dhumrapana (literally "drinking smoke"), has been practiced for at least 2,000 years. Before modern times these substances have been consumed through pipes, with stems of various lengths or chillums.[5]
                </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Start A Conversation</h3>
                    <p>
                        <a href="mailto:#0" class="info-email">lpohu0571@outlook.com</a><br>
                        <a href="tel:17666102274" class="'info-phone">1766 610 2274</a>
                    </p>
                </div>

                <div class="info-block">
                    <h3>Visit Our Office</h3>
                    
                    <p class="info-address">
                        不告诉你地址<br>
                        别找了<br>
                        爱你
                    </p>
                </div>

                <div class="info-block">
                    <h3>以下联系方式都没有</h3>
                    
                    <ul class="info-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook" aria-hidden="true"></i>
                            <span>Facebook</span></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i>
                            <span>Twiiter</span></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i>
                            <span>Instagram</span></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-behance" aria-hidden="true"></i>
                            <span>Behance</span></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i>
                            <span>Dribbble</span></a>
                        </li>
                    </ul>
                </div>
                
            </div>  <!-- end info contact -->

        </div>  <!-- end info wrapper -->

    </div> <!-- end s-info -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/polygons.js"></script>
    <script src="js/main.js"></script>

</body>

</html>